<tr>
    <td>
        <p>
            <label>
                <input class="with-gap" name="canHelpTaskOption" type="radio" value="{{ task_id }}"
                    onclick="renderMapFromTaskLocations('{{ task_id }}', '{{ location_start }}', '{{ location_end }}');" />
                <span>{{ task_text }}</span>
            </label>
        </p>
    </td>
    <td>{{ person_need_email }}</td>
    <td>{{ location_start }}</td>
    <td>{{ location_end }}</td>
    <td>{{ date_created }}</td>

    <td><a class="waves-effect waves-light btn-small"
            onclick="canHelpTaskChosen('{{ task_id }}', '{{ location_start }}', '{{ location_end }}');">select</a></td>
</tr>