<tr>
    <td>
        <p>
            <label>
                <input class="with-gap" name="helpBasketTaskOption" type="radio" value="{{ task_id }}"
                    onclick="helpBaskedTaskSelected('{{ task_id }}', '{{ location_start }}', '{{ location_end }}');" />
                <span>{{ task_text }}</span>
            </label>
        </p>
    </td>
    <td>{{ person_help_email }}</td>
    <td>{{ location_start }}</td>
    <td>{{ location_end }}</td>
    <td>{{ date_created }}</td>
    <td>{{ status_name }}</td>
</tr>