<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	{{!-- Mapquest --}}
	<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
	<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
	{{!-- Materialize --}}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{{!-- Fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/257de25400.js" crossorigin="anonymous"></script>
	{{!-- JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Main Javascript for the pages --}}
	<script src="/assets/js/global.js"></script>
	{{!-- Main CSS for the pages --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>{{title}}</title>
</head>

<body>
	{{!-- https://developers.facebook.com/docs/facebook-login/web --}}
	<div id="fb-root"></div>
	<header>
		<script async defer crossorigin="anonymous"
			src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=231586884632895&autoLogAppEvents=1"></script>
	</header>


	<nav style="min-height: 300px">
		<div class="nav-wrapper gradient-header">
			<div class="row">
				<div class="col s2">
					{{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}
					<a href="/?userId={{ currentUserId }}" class="logo left logo-place"><img src="/logo.jpg"
							width="300px" height="300px" alt="Logo of people holding hands"
							class="circle responsive-img"></a>

				</div>

				<div class="col s7">
					{{!-- Facebook --}}
					<div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with"
						data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true"
						data-onlogin="checkLoginState();" data-scope="public_profile,email"></div>
					{{!-- Mapquest --}}
					<div id="map" style="width: 100%; height: 200px;"> </div>
				</div>

				<div class="col s3">
					<ul class="right hide-on-med-and-down" display="inline-block">
						<li>
							<a href="/need-help/?userId={{ currentUserId }}" class="button-hover">NEED HELP</a>
						</li>
						<li>
							<a href="/can-help/?userId={{ currentUserId }}" onclick="document.body.style.cursor='wait';"
								class="button-hover">CAN HELP</a>
						</li>
						<li>
							<a href="/help-basket/?userId={{ currentUserId }}" class="button-hover">MY HELP BASKET</a>
						</li>
						<h2>{{name}}</h2>
					</ul>
				</div>
			</div>
		</div>
	</nav>



	{{{ body }}}



	<div class="row fixed-row-bottom">
		<div class="footer">
			<p class="copyright">Copyright 2020, all rights reserved</p>
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->

</body>

</html>