<li>
	{{burger_name}}

	<button class="devoured-btn btn waves-effect green btn-medium" type="submit" name="action" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}ORDER AGAIN{{/if}}
	</button>

	<button class="delete-btn btn waves-effect red lighten-1 btn-medium" type="submit" name="action" data-id="{{this.id}}">DELETE</button>
</li>

<tr>
	<td>
		{{ text }}
	</td>
	<td>
		{{ email }}
	</td>
</tr>

